.float-btn{
    position: fixed;
    right: 30px;
}
.x1{
    bottom: 30px;
}
.x2{
    bottom: 95px;
}
.view{
    width: auto; 
	max-width: 100%;
	margin: 0 auto;
	display: block;
	margin-bottom: 15px;
}