<div id="initial_startup" [@popOverState]="(isAllLoaded) ? 'hide' : 'show'">
    <svg class="spinner-container" width="50" height="50" viewBox="0 0 44 44">
        <circle class="spinner-path" cx="22" cy="22" r="20" fill="none" stroke-width="4"></circle>
    </svg>
</div>
<mat-toolbar class="mat-elevation-z1" [@popOverState]="(isAllLoaded) ? 'show' : 'hide'">
	<mat-toolbar-row class="mat-elevation-z3" *ngIf="!loadError">
		<span>
            {{chapterInfo?.info.nombre}} <i>{{title(chapterInfo?.info.titulo)}}</i> 
            <b>{{' #' + chapterInfo?.info.capitulo}}</b>
        </span>
        <span class="spacer"></span>
        <button mat-mini-fab [routerLink]="['/biblioteca', chapterInfo?.info.nombre]">
            <span class="material-icons">arrow_back</span>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span class="spacer"></span>
        <mat-progress-spinner
            style="margin-right: 15px;"
            color="accent"
            diameter="25"
            *ngIf="!isChapterLoaded"
            mode="indeterminate">
        </mat-progress-spinner>
        <button mat-button style="margin-right: 5px;">
            <span class="material-icons">cloud_download</span>
        </button>
        <button mat-raised-button style="margin-right: 5px;" (click)="previusChapter()" [disabled]="chp.previus">CAPÍTULO ANTERIOR</button>
        <button mat-raised-button style="margin-right: 5px;" color="primary" (click)="nextChapter()" [disabled]="chp.next">CAPÍTULO SIGUIENTE</button>
        <mat-slide-toggle 
        style="margin-left: 5px;" 
        (change)="pageChangeMode()"
        [disabled]="bbDis"
        [(ngModel)]="checked"
        [checked]="checked">
            <b *ngIf="!checked">CASCADA</b>
            <b *ngIf="checked">COMPAGINADO</b>
        </mat-slide-toggle>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container-fluid" [@popOverState]="(isAllLoaded) ? 'show' : 'hide'">
  <div class="row">
		<div class="col-md-12">
			<div class="mat-card mat-elevation-z1" style="padding: 10px; margin-top: 15px; margin-bottom: 15px;" *ngIf="loadError">
				<h2>Contenido no disponible.</h2>
				El capítulo solicitado no existe o es posible que algún administrador lo haya deshabilitado y en otro 
				momento se encuentre disponible. <br><br>
				<button mat-raised-button routerLink="/" color="warn">Regresar al inicio</button>
			</div>
		</div>
		<div *ngIf="!loadError">
            <br>
			<div class="col-md-12">
                <div *ngFor="let id of nObjetos; let ind = index;">
                    <div [hidden]="!(!checked || (ind === numberPage))" style="position: relative;">
                        <canvas
                            id="img{{id}}"
                            class="mat-elevation-z1 view"
                            (click)="next()">
                        </canvas>
                        <button *ngIf="isChapterLoaded" mat-button class="intoPage" (click)="refreshImage(ind)" matTooltip="Recargar página">
                            <span class="material-icons">refresh</span>
                        </button>
                    </div>
                </div>
				<br>
            </div>
            <mat-toolbar class="mat-elevation-z1 vcontrol">
                <mat-toolbar-row class="mat-elevation-z2">
                        <button mat-button color="primary" style="margin-right: 5px;" (click)="previusChapter()" [disabled]="chp.previus">ANTERIOR</button>
                    <button mat-button color="primary" style="margin-right: 5px;" (click)="nextChapter()" [disabled]="chp.next">SIGUIENTE</button>
                    <button mat-raised-button color="primary" style="margin-right: 5px;">DESCARGAR</button>
                    <button mat-button [routerLink]="['/biblioteca', chapterInfo?.info.nombre]">{{chapterInfo?.info.nombre}}</button>
                    <span class="spacer"></span>
                    <button mat-mini-fab *ngIf="checked" (click)="before()" [disabled]="nb.before">
                        <span class="material-icons">navigate_before</span>
                    </button>
                    <b style="margin-left: 10px; margin-right: 10px;" *ngIf="checked">{{(numberPage + 1)}}</b>
                    <button mat-mini-fab *ngIf="checked" (click)="next()" [disabled]="nb.next">
                        <span class="material-icons">navigate_next</span>
                    </button>
                    <h2 routerLink="/" style="cursor: pointer; margin-left: 15px;"><b>BMANGA</b></h2>
                </mat-toolbar-row>
            </mat-toolbar>
		</div>
  </div>
</div>
<div style="background: white; padding: 30px; position: relative;" [@popOverState]="(isAllLoaded) ? 'show' : 'hide'">
    <!--<disqus [identifier]="pageId"></disqus>-->
</div>
<!--Botones flotantes-->
<button mat-fab color="primary" class="float-btn x1" (click)="openConfig()" [disabled]="bbDis">
  <span class="material-icons">settings</span>
</button>
<button mat-fab color="accent" class="float-btn x2" (click)="upto()" [disabled]="bbDis">
  <span class="material-icons">keyboard_arrow_up</span>
</button>