<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h2>Nombre del manga</h2>
    </div>
    <div class="col-md-5">
      <br>
      <button mat-raised-button style="margin-right: 5px;">SIGUIENTE</button>
      <button mat-raised-button>ANTERIOR</button>
      <mat-slide-toggle style="margin-right: 10px; 
      margin-left: 25px;
      top: 3px;
      position: relative;" [checked]="checked">
        <b>CASCADA</b>
      </mat-slide-toggle>
    </div>
  </div>
</div>
<button mat-fab color="primary" class="float-btn x1">
  <span class="material-icons">settings</span>
</button>
<button mat-fab color="accent" class="float-btn x2">
  <span class="material-icons">keyboard_arrow_up</span>
</button>