<div id="initial_startup" [@popOverState]="(isAllLoaded) ? 'hide' : 'show'">
    <svg class="spinner-container" width="50" height="50" viewBox="0 0 44 44">
        <circle class="spinner-path" cx="22" cy="22" r="20" fill="none" stroke-width="4"></circle>
    </svg>
</div>
<br>
<div class="container" [@popOverState]="(isAllLoaded) ? 'show' : 'hide'">
    <div class="row">
        <div class="mat-card" *ngIf="isError.generalLoad">
            <h2>¡Ups!</h2>
            Ocurrió un error al tratar de encontrar el libro que buscas.
            <br><br>
            Inténtalo más tarde. Si el problema persiste repórtalo con un administrador.
            <br><br>
            <code>Log: <b>{{mensajeError}}</b></code>
            <br><br>
            <button mat-raised-button color="warn" routerLink="/">
                Volver a inicio
            </button>
        </div>
        <div *ngIf="!isError.generalLoad && mangaInformacion" class="media mat-card col-md-9">
        <mat-tab-group>
            <mat-tab label="Información General">
                <mat-card>
                <div class="container-fluid">
                    <div class="row">
                    <div class="col col-md-5">
                        <img 
                        class="image-card-manga" 
                        [attr.src]="getImage(mangaInformacion.imagen)"
                        onerror="this.src='assets/img/image-no-load.png'"
                        alt="BMANGA Resource">
                    </div>
                    <div class="col col-md-7">
                        <div>
                        <br>
                        <h1>
                            {{mangaInformacion.nombre}}<br>
                            <small style="color: gray; font-weight: normal;">
                            <small><i>{{mangaInformacion.generos}}</i></small>
                            </small>
                        </h1>
                        <br>
                        <mat-chip-list>
                            <mat-chip>
                                <span *ngIf="mangaInformacion.estado == 'A'">Activo</span>
                                <span *ngIf="mangaInformacion.estado == 'D'">Abandonado</span>
                                <span *ngIf="mangaInformacion.estado == 'H'">Pausa indefinida</span>
                                <span *ngIf="mangaInformacion.estado == 'P'">Pausado</span>
                                <span *ngIf="mangaInformacion.estado == 'F'">Finalizado</span>
                            </mat-chip>
                        </mat-chip-list>
                        <br>
                        <span style="margin-right: 5px;">
                            {{mangaInformacion.sinopsis}}
                        </span>
                        </div>
                    </div>
                    </div>
                </div>
                <br>
                <mat-divider></mat-divider>
                <h3>
                    <span class="material-icons icon-top">bookmark</span>
                    <label class="icon-mar">LISTA DE CAPÍTULOS</label>
                </h3>
                <!--<div *ngIf="selection.selectedOptions.selected.length" class="row-flex">
                    <span class="flex"></span>
                    <button mat-button color="warn" (click)="multipleDownload()" [disabled]="isDonwloadMultiple">
                        <b>DESCARGAR CAPITULOS</b>
                    </button>
                </div>-->
                <mat-list role="list">
                    <mat-list-item *ngIf="chapters.length == 0">
                        No hay capítulos disponibles para este manga.
                    </mat-list-item>
                    <mat-list-item role="listitem" *ngFor="let item of getData(chapters); let i = index;">
                        <div *ngIf="item">
                            {{(tituloCanBe(item?.titulo)) ? reduce(item?.titulo, 25) : 'Capítulo sin título '}} <b style="margin-left: 5px;">{{item?.capitulo}}</b>
                            <i style="margin-left: 5px;"><small>{{item?.created_at | date}}</small></i>
                            <button mat-mini-fab color="primary" style="position: absolute;
                            right: 100px; top: 5px;" (click)="lectura(item?.id)">
                                <span class="material-icons">play_arrow</span>
                            </button>
                            <button mat-mini-fab color="warn" style="position: absolute;
                            right: 50px; top: 5px;" (click)="descargar(item?.id)">
                                <span class="material-icons">cloud_download</span>
                            </button>
                        </div>
                    </mat-list-item>
                  </mat-list>
                <!--<mat-selection-list #selection>
                    <mat-list-item *ngIf="chapters.length == 0">
                        No hay capítulos disponibles para este manga.
                    </mat-list-item>
                    <mat-list-option *ngFor="let item of getData(chapters); let i = index;" [value]="item?.id">
                        <div *ngIf="item">
                            {{(tituloCanBe(item?.titulo)) ? reduce(item?.titulo, 25) : 'Capítulo sin título '}} <b style="margin-left: 5px;">{{item?.capitulo}}</b>
                            <i style="margin-left: 5px;"><small>{{item?.created_at | date}}</small></i>
                            <button mat-mini-fab color="primary" style="position: absolute;
                            right: 100px; top: 5px;" (click)="lectura(item?.id)">
                                <span class="material-icons">play_arrow</span>
                            </button>
                            <button mat-mini-fab color="warn" style="position: absolute;
                            right: 50px; top: 5px;" (click)="descargar(item?.id)" [disabled]="selectToDownload.selectedOptions.selected.length >= 1">
                                <span class="material-icons">cloud_download</span>
                            </button>
                        </div>
                    </mat-list-option>
                </mat-selection-list>-->
                <br><br>
                <div style="position: relative; text-align: center;" *ngIf="chapters.length >= 1">
                    <button style="margin-bottom: 5px;" mat-mini-fab (click)="changePage(i)" class="icon-mar" *ngFor="let i of paginator" [disabled]="page == i">
                    {{i + 1}}
                    </button>
                </div>
                <h3>
                    <span class="material-icons icon-top">comment</span>
                    <label class="icon-mar"><b>COMENTARIOS</b></label>
                </h3>
                <mat-divider></mat-divider>
                <br>
                <disqus [identifier]="pageId"></disqus>
                </mat-card>
            </mat-tab>
            <mat-tab label="Suscripciones" [disabled]="true">
                <h2>Suscripciones</h2>
                <span>
                Centro de notificaciones de mangas, este beneficio posee la posibilidad de darte un aviso cuando
                un cierto manga ha sido subido a la plataforma.
                </span><br><br><br>
                <form>
                <mat-form-field style="width: 100%;">
                    <input 
                    matInput 
                    placeholder="Escribe un correo electrónico..." 
                    name="email" 
                    autocomplete="off"
                    [formControl]="emailControl"
                    [errorStateMatcher]="matcher"
                    [(ngModel)]="email"/>
                    <span class="material-icons" matSuffix>email</span>
                    <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
                    Por favor ingresa un correo electrónico <strong>válido</strong>
                    </mat-error>
                    <mat-error *ngIf="emailControl.hasError('required')">
                    El correo electrónico es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                </form>
                <br>
                <button 
                mat-raised-button 
                color="primary"
                (click)="envEmail()">Recibir notificaciones</button>
            </mat-tab>
        </mat-tab-group>
        </div>
        <div class="col-md-3" *ngIf="!isError.generalLoad && mangaInformacion">
        <h2>Obras similares</h2>
        <mat-divider></mat-divider>
        <br>
        <mat-card style="padding: 10px;" *ngIf="mangasSimilares.length == 0">
            Sin sugerencias.
        </mat-card>
        <mat-card 
        *ngFor="let similar of mangasSimilares" 
        [routerLink]="['/biblioteca', similar.nombre]"
        class="custom-card">
            <img mat-card-image 
            [attr.src]="getSizeImageCard(similar.imagen)"
            onerror="this.src='assets/img/image-no-load.png'"
            alt="Resource">
            <mat-card-header class="header-card">
            <mat-card-title>{{similar.nombre}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        <br>
        <h2>Algo al azar</h2>
        <mat-divider></mat-divider>
        <br>
        <mat-card style="padding: 10px;" *ngIf="otrosMangas.length == 0">
            Sin sugerencias.
        </mat-card>
        <mat-card 
        *ngFor="let otros of otrosMangas"
        [routerLink]="['/biblioteca', otros.nombre]"
        class="custom-card">
                <img mat-card-image 
                [attr.src]="getSizeImageCard(otros.imagen)"
                onerror="this.src='assets/img/image-no-load.png'"
                alt="Resource">
            <mat-card-header class="header-card">
                <mat-card-title>{{otros.nombre}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        </div>
    </div>
</div>