<br>
<div class="container">
    <mat-toolbar color="primary" class="mat-elevation-z2">
        <span *ngIf="!uploading">Agregar un nuevo capítulo</span>
        <span *ngIf="uploading">Subiendo capítulo...</span>
    </mat-toolbar>
    <mat-card>
        <div class="container-fluid" *ngIf="uploading">
            <div style="text-align: center; width: 100%; position: relative;">
                <h1>{{getVal()}}%</h1>
            </div>
            <mat-progress-bar mode="determinate" [value]="valueUpload"></mat-progress-bar>
        </div>
        <div class="container-fluid" *ngIf="!uploading">
            <form [attr.action]="url" class="submitForm" method='POST' enctype="multipart/form-data" onsubmit="return false">
                <h2>Nombre del manga</h2>
                <mat-form-field style="width: 50%;">
                    <mat-select placeholder="Manga" [formControl]="form.manga"
                    [errorStateMatcher]="matcher" [(ngModel)]="data.manga">
                        <mat-option [value]="-1" disabled *ngIf="!isLoad">
                            Cargando lista...
                        </mat-option>
                        <mat-option [value]="-1" disabled *ngIf="isLoad">
                            --Escoger
                        </mat-option>
                        <mat-option *ngFor="let book of mangas" [value]="book.id">
                            {{book.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Para agregar un capítulo debes escoger un manga.</mat-hint>
                    <mat-error *ngIf="form.manga.hasError('required')">
                        El manga es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 50%;">
                    <input 
                    type="number" 
                    matInput 
                    placeholder="Capítulo #" 
                    autocomplete="off" 
                    min="0"
                    max="2999"
                    [(ngModel)]="data.capitulo"
                    name="capitulo"
                    [formControl]="form.capitulo"
                    [errorStateMatcher]="matcher"
                    step="any">
                    <mat-hint>El número puede ser decimal o entero, no se permiten letras.</mat-hint>
                    <mat-error *ngIf="form.capitulo.hasError('required')">
                        El capítulo es <strong>requerido</strong>
                    </mat-error>
                    <mat-error *ngIf="form.capitulo.hasError('min')">
                        El capítulo debe ser <strong>mayor</strong> de 0
                    </mat-error>
                    <mat-error *ngIf="form.capitulo.hasError('max')">
                        El capítulo debe ser <strong>menor</strong> de 3000
                    </mat-error>
                </mat-form-field>
                <h2>Información adicional</h2>
                <mat-form-field style="width: 50%;">
                    <input 
                    type="text" 
                    matInput 
                    placeholder="Joint" 
                    [(ngModel)]="data.joint"
                    [disabled]="uploadingData"
                    name="joint"
                    autocomplete="off">
                    <mat-hint>Basta con colocar el nombre y si son mas, separarlos por coma. (Opcional)</mat-hint>
                </mat-form-field>
                <mat-form-field style="width: 50%;">
                    <input 
                    type="text" 
                    matInput 
                    placeholder="Título" 
                    [(ngModel)]="data.titulo"
                    [disabled]="uploadingData"
                    name="titulo"
                    autocomplete="off">
                    <mat-hint>(Opcional)</mat-hint>
                </mat-form-field>
                <h2>Imágenes del capítulo</h2>
                <input type="file" 
                name="images[]" 
                id="imagesInput" 
                accept="image/png, image/jpg, image/jpeg" 
                [disabled]="uploadingData"
                (change)="setImages($event)"
                multiple>
                <br><br>
                <div class="flex">
                    <span class="flex-span"></span>
                    <button mat-raised-button color="primary" (click)="submit()" [disabled]="uploadingData">
                        <b *ngIf="!uploadingData">SUBIR CAPÍTULO</b>
                        <b *ngIf="uploadingData">VERIFICANDO DATOS EN EL SERVIDOR...</b>
                    </button>
                </div>
            </form>
        </div>
    </mat-card>
    <br>
</div>