<mat-toolbar>
    <mat-toolbar-row class="mat-elevation-z6">
          <span>BMANGA</span>
          <span class="flex"></span>
        <button mat-icon-button matTooltip="Iniciar sesión" class="icon-mar">
            <span class="material-icons">account_circle</span>
        </button>
        <button mat-icon-button matTooltip="Ver mangas" class="icon-mar">
            <span class="material-icons">book</span>
        </button>
        <button mat-icon-button matTooltip="Buscar mangas" class="icon-mar">
            <span class="material-icons">search</span>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>