<mat-toolbar style="position: fixed; z-index: 99999;">
    <mat-toolbar-row class="mat-elevation-z6">
        <a style="text-decoration: none; color: #464646;" routerLink="/"><b>BMANGA</b></a>
        <span class="flex"></span>
        <button mat-icon-button matTooltip="Descargar" class="icon-mar">
            <span class="material-icons">cloud_download</span>
        </button>
          <button mat-icon-button matTooltip="Iniciar sesión" class="icon-mar">
            <span class="material-icons">account_circle</span>
        </button>
        <button mat-icon-button matTooltip="Buscar mangas" class="icon-mar">
            <span class="material-icons">search</span>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<br><br><br><br>
<router-outlet></router-outlet>