/* You can add global styles to this file, and also import other style files */
@import "material-icons/iconfont/material-icons.css";
@import "roboto-fontface/css/roboto/roboto-fontface.css";

*, html, body{
    font-family: 'Roboto', sans-serif, arial;
}
body{
    background-image: url(assets/img/background.jpg);
}
.content{
    padding: 20px;
    margin: 10px;
}