/* You can add global styles to this file, and also import other style files */
@import "material-icons/iconfont/material-icons.css";
@import "roboto-fontface/css/roboto/roboto-fontface.css";
@import "assets/css/bootstrap.grid.min.css";
@import "assets/pace/pace-theme-minimal.css";
@import "~@angular/material/prebuilt-themes/purple-green.css";
*, html, body{
    font-family: 'Roboto', sans-serif, arial;
}
body{
    /*background: url(assets/img/background.jpg);*/
    background-color: #303030;
}
/*Scroll*/
::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-track {
    background: #262626; 
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #999; 
}