.icon-mar{
    margin: 0 8px;
}
.icon-top{
    position: relative;
}
.news-card{
    width: 214px;
    max-width: 215px;
    margin: 7px !important;
    display: inline-block;
}
.fix-size{
    height: 349px;
    max-height: 350px;
}
.up-top{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.react{
    position: relative;
}